---
layout: base
---

<div class="container-fluid">
  <div class="row">
    {% if site.compass.logo %}
    <div class="col-md-8 col-md-offset-2">
      <div class="logo-container text-center">
        <a href="{{ page.baseurl }}">
          <img class="user-logo" src="{{ site.baseurl }}{{ site.compass.logo }}" alt="angvish">
        </a>
      </div>
    </div>
    {% endif %}
    
    {% if site.compass.include_content %}
    <div class="content">
      {% include content.html %}
    </div>
    {% endif %}
  </div>
</div>
