<section class="bg-primary" id="about">
  <h2 class="section-heading text-center">About me</h2>
  <hr class="light">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="text-fadeds">
          I am front-end engineer, post graduated from DA-IICT (Gandhinagar, Gujarat), presently working in <a href="http://promobitech.com/">Promobitech</a>. I have 2.9+ years of experience working on the front-end, providing responsive front-end development and Wordpress Integration.
        </p>
      </div>
      <div class="col-md-6 col-sm-6">
        <p class="text-fadeds">People generally approaches me when they need someone with the following skills:</p>
        <div class="col-md-6 col-sm-6 text-fadeds">
          <ul>
            <li>
              Frontend developement
              <ul class="list-inlines">
                <li>
                  Javacript
                  <ul>
                    <li>Angularjs</li>
                    <li>Reactjs (Intermediate)</li>
                    <li>jQuery</li>
                    <li>Underscorejs</li>
                    <li>Masonaryjs</li>
                  </ul>
                </li>
                <li>
                  CSS3
                  <ul>
                    <li>LESS</li>
                    <li>SCSS</li>
                    <li>SASS</li>
                  </ul>
                </li>
                <li>
                  HTML
                  <ul>
                    <li>HTML 4/5</li>
                    <li>ERB Template</li>
                    <li>JADE Template</li>
                  </ul>
                </li>
                <li>Performance</li>
                <li>Animations</li>
              </ul>
              
            </li>
          </ul>
        </div>
        <div class="col-md-6 col-sm-6">
        <ul>
          <li>
            Wordpress Development
            <ul>
              <li>Themes Development</li>
              <li>Admin/Plugin setup</li>
              <li>Custom functionality</li>
            </ul>          
          </li>
        </ul>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <img src="{{site.compass.all_image}}" class="img-responsive all-images">
      </div>
    </div>
  </div>
</section>
