<div class="row">
  <div class="col-md-6">
    <h2>About me</h2>
    <p>
      I develop website for as experienced, detailed-oriented, front end web
      developement. With a good of hands-on experience efficiently coding web
      sites and applications using modern HTML, CSS, and JavaScript, I am
      confident I will be an excellent addition.
    </p>
    <p>
      <a href="https://github.com/angvishvish">GitHub</a>.
    </p>
  </div>
  <div class="col-md-6">

    <h2>Projects</h2>
    <ul>
      <li><a href="http://www.safetychanger.com/" target="_blank">Safetychanger</a></li>
      <li><a href="http://www.socialschools.nl/in/" target="_blank">Socialschools</a></li>
      <li><a href="http://www.addieandella.com/" target="_blank">Addie and ella</a></li>
      <li><a href="http://scenecreek.com/" target="_blank">Screencreek</a></li>
      <li><a href="http://hauteliving.com/" target="_blank">Haute living</a></li>
      <li><a href="http://www.lipstickandruffles.com/" target="_blank">lipstick and ruffles</a></li>
      <li><a href="http://maramostafa.com/" target="_blank">Maramostafa</a></li>
      <li><a href="http://www.elitefloorings.com/" target="_blank">Elite flooring</a></li>
      <li><a href="http://beapartmovement.org/" target="_blank">Be a part movement</a></li>
      <li><a href="http://milanosoprano.rtcamp.net/" target="_blank">Milanosoprano</a></li>
    </ul>

  </div>

</div>