<h2>About me</h2>
<p>
  I develop website for as experienced, detailed-oriented, front end web
  developer. With a good of hands-on experience efficiently coding web
  sites and applications using modern HTML, CSS, and JavaScript, I am
  confident I will be an excellent addition.
</p>
<p>
  <a href="https://github.com/angvishvish">GitHub</a>.
</p>

<h2>Projects that I worked on</h2>
<ul>
  <li>
    <a href="http://www.safetychanger.com/">Safetychanger</a>
  </li>
  <li>
    <a href="http://www.socialschools.nl/in/">Socialschools</a>
  </li>

  <li>Responsive design</li>
</ul>


<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://angvishvish.github.io">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="https://github.com/angvishvish">The Author</a>
  </li>
</ul>
