<div class="row">
  <div class="col-md-6 col-sm-6">
    <h2>About me</h2>
    <p>
      I am front-end engineer, post graduated from DA-IICT (Gandhinagar, Gujarat), presently working in <a href="http://promobitech.com/">Promobitech</a>. I have 2.5+ years of experience working on front-end, providing responsive front-end development and Wordpress Integration.
    </p>
    <p>People generally approaches me when they need someone with the following skills:</p>
    <ul>
      <li>
        Frontend developement
        <ul>
          <li>HTML5</li>
          <li>
            CSS3
            <ul>
              <li>LESS</li>
              <li>SCSS</li>
              <li>SASS</li>
            </ul>
          </li>
          <li>
            Javacript
            <ul>
              <li>jQuery</li>
              <li>Underscorejs</li>
              <li>Masonaryjs</li>
              <li>Angularjs</li>
              <li>Reactjs (Intermediate)</li>
            </ul>
          </li>
          <li>Performance</li>
          <li>Animations</li>
        </ul>
      </li>
      <li>
        Wordpress Development
        <ul>
          <li>Themes Development</li>
          <li>Admin/Plugin setup</li>
          <li>Custom functionality</li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="col-md-6 col-sm-6">
    <h2>Projects</h2>
    <ul>
      <li><a href="http://www.elisehelpt.nl/" target="_blank">Elise</a></li>
      <li><a href="https://mobilock.in/" target="_blank">Mobilock</a></li>
      <li><a href="#" target="_blank">Easy survey</a></li>
      <li><a href="https://digiplay.in/" target="_blank">Digiplay</a></li>
      <li><a href="http://promobitech.com/" target="_blank">Promobitech</a></li>
      <li><a href="http://www.safetychanger.com/" target="_blank">Safetychanger</a></li>
      <li><a href="http://www.socialschools.nl/in/" target="_blank">Socialschools</a></li>
      <li><a href="http://www.addieandella.com/" target="_blank">Addie and ella</a></li>
      <li><a href="http://scenecreek.com/" target="_blank">Screencreek</a></li>
      <li><a href="http://hauteliving.com/" target="_blank">Haute living</a></li>
      <li><a href="http://www.lipstickandruffles.com/" target="_blank">lipstick and ruffles</a></li>
      <li><a href="http://maramostafa.com/" target="_blank">Maramostafa</a></li>
      <li><a href="http://www.elitefloorings.com/" target="_blank">Elite flooring</a></li>
      <li><a href="http://beapartmovement.org/" target="_blank">Be a part movement</a></li>
      <li><a href="http://milanosoprano.rtcamp.net/" target="_blank">Milanosoprano</a></li>
    </ul>

  </div>

</div>