<section class="btn-primary no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="http://www.elisehelpt.nl/" class="portfolio-box" target="_blank">
                    <img src="images/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Elise
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://mobilock.in/" class="portfolio-box" target="_blank">
                    <img src="images/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Mobilock
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box" target="_blank">
                    <img src="images/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Easy Survey
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://digiplay.in/" class="portfolio-box" target="_blank">
                    <img src="images/portfolio/4.jpg" class="img-responsive special" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Digiplay
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://www.safetychanger.com/" class="portfolio-box" target="_blank">
                    <img src="images/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Safetychanger
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://www.socialschools.nl/in/" class="portfolio-box" target="_blank">
                    <img src="images/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Socialschool
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- <div class="col-lg-4 col-sm-6">
                <a href="http://scenecreek.com/" class="portfolio-box" target="_blank">
                    <img src="images/portfolio/18.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                              Screencreck
                            </div>
                        </div>
                    </div>
                </a>
            </div> -->
            <div class="col-lg-4 col-sm-6 visible-sm visible-xs">
                <a href="http://hauteliving.com/" class="portfolio-box" target="_blank">
                    <img src="images/portfolio/9.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                              Haute living
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://maramostafa.com/" class="portfolio-box" target="_blank">
                    <img src="images/portfolio/10.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                              Maramostafa
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://www.addieandella.com/" class="portfolio-box" target="_blank">
                    <img src="images/portfolio/7.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Addie And Ella
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://hauteliving.com/" class="portfolio-box" target="_blank">
                    <img src="images/portfolio/11.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                              Lipstick and ruffles
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
