.icons {
	background-size: 100%;
    display: inline-block;
    width: 100px;
    height: 112px;
}
.icon-web {
	background-image: url('../images/icons/icon-web.svg');
}

.icon-ux {
	background-image: url('../images/icons/icon-ux.svg');
}

.icon-dev {
	background-image: url('../images/icons/icon-dev.svg');
}

.icon-ui {
	background-image: url('../images/icons/icon-ui.svg');
}
