---
---

$text-color: #46433A;
$anchor-text-color: #CE534D;
$background-color: #F1EED9;

body {
  font-family: 'Lora', serif;
  color: $text-color;
  background-color: $background-color;
}

a:link,
a:visited,
a:hover,
a:active {
  color: $anchor-text-color;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  padding-left: 15px;
}

.navbar-nav {
  margin: 0 -15px;
}

.navbar-fixed-top {
  font-weight: bold;
}

.navbar-custom {
  background-color: $background-color;
  border-bottom: 1px solid $anchor-text-color;
}

.navbar-nav,
.icon-bar {
  background-color: $anchor-text-color;
}

.navbar-nav>li>a {
  color: $background-color;
  transition: .3s ease-in .1s;
}

.navbar-nav>li>a:hover {
  color: $anchor-text-color;
  background-color: $background-color;
}

.intro-header {
  background-color: #808080;
  background: url('../images/header-bg.jpg') center center;
  background-attachment: fixed;

  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
  background-size: cover;

  margin-bottom: 50px;
}

.intro-header .site-heading {
  padding: 210px 0;
  color: white;
}

.intro-header h1 {
  font-size: 50px;
  font-weight: 800;
  word-wrap: break-word;
}

.intro-header .site-heading .subheading {
  font-size: 24px;
  line-height: 1.1;
  display: block;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 300;
  margin: 10px 0 0;
}


.wrapper {
  padding-top: 50px;
}

/* override the left margin added by font awesome for the main content list,
since it must be aligned with the content */
.fa-ul.main-list {
  margin-left: 0;
}

/* list icons */
.main-list-item-icon {
  width: 36px;
  color: $text-color;
}

.logo {
  width: 200px;
  height: 200px;
  display: inline-block;
  -moz-border-radius: 50%;
}

/*** author ***/
.author-container h1 {
  font-size: 2.8em;
  text-align: center;
}

/*** tagline ***/
.tagline-container p {
  font-size: 1.3em;
  text-align: center;
  margin-bottom: 2em;
}

/******/
hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: white;
}

.poweredby {
  font-family: "Arial Narrow", Arial;
  font-size: 0.6em;
  line-height: 0.6em;
  padding: 0 5px;
}

footer {
  padding: 40px 0;
}

legend {
  margin-top: 20px;
}

// iframe

iframe {
  height: -webkit-calc(100%);
  width: -webkit-calc(100%);
  border: 1px solid lightgray;
}

.iframe {
  margin: 0 auto 50px;
  position: relative;
  border-radius: 8px;
}

.iframe:last-child {
  margin-bottom: 0;
}

// iframe iphone

.iframe-iphone {
  max-width: 375px;
  height: 667px;
  padding: 60px 15px 100px 15px;
  background: black;
}

.iframe-iphone:before {
  content: "";
  height: 10px;
  width: 100px;
  position: absolute;
  top: 20px;
  left: 37%;
  background-color: lightgray;
  border: 2px solid gray;
  border-radius: 12px;
}

.iframe-iphone:after {
  content: "";
  height: 50px;
  width: 50px;
  position: absolute;
  bottom: 20px;
  left: 44%;
  background-color: black;
  border: 4px solid lightgray;
  border-radius: 50%;
}

// iframe ipad

.iframe-ipad {
  max-width: 786px;
  height: 1024px;
  padding: 30px 15px 140px 15px;
  background: #eee;
  border: 2px solid gray;
  border-radius: 8px;
}

.iframe-ipad:after {
  content: "";
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: 20px;
  left: 42%;
  background-color: #ddd;
  border: 4px solid antiquewhite;
  border-radius: 50%;
}