---
---

$theme-primary: #4076A4;
$theme-dark: #222;

@import 'mixin';
@import 'header';
@import 'landing-page';

$text-color: #3F75A3;
$anchor-text-color: #2098d1;
$background-color: #fff;


html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  color: $text-color;
  background-color: $background-color;
}

body {
    @include serif-font;
}

hr {
    border-color: $theme-primary;
    border-width: 3px;
    max-width: 50px;
}

hr.light {
    border-color: white;
}

a {
    @include transition-all;
    color: $theme-primary;
    &:hover,
    &:focus {
        color: darken($theme-primary, 10%);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include sans-serif-font;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.bg-primary {
  background-color: $theme-primary;
  a {
    color: white;
    &:hover {
      color: white;
    }
  }
}

.bg-dark {
    background-color: $theme-dark;
    color: white;
}

.text-faded {
    color: rgba(white, .7);
}

section {
    padding: 100px 0;
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

ul {
  padding-left: 15px;
}

.navbar-default {
    background-color: white;
    border-color: rgba($theme-dark, .5);
    @include sans-serif-font;
    @include transition-all;
    .navbar-header .navbar-brand {
        color: $theme-primary;
        @include sans-serif-font;
        font-weight: 700;
        text-transform: uppercase;
        &:hover,
        &:focus {
            color: darken($theme-primary, 10%);
        }
    }
    .nav {
        > li {
            > a,
            > a:focus {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 13px;
                color: $theme-dark;
                &:hover {
                    color: $theme-primary;
                }
            }
            &.active {
                > a,
                > a:focus {
                    color: $theme-primary !important;
                    background-color: transparent;
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }
    }
    @media (min-width: 768px) {
        background-color: transparent;
        border-color: rgba(white, .3);
        .navbar-header .navbar-brand {
            color: rgba(white, .7);
            &:hover,
            &:focus {
                color: white;
            }
        }
        .nav > li > a,
        .nav > li > a:focus {
            color: rgba(white, .7);
            &:hover {
                color: white;
            }
        }
        &.affix {
            background-color: white;
            border-color: rgba($theme-dark, .5);
            .navbar-header .navbar-brand {
                color: $theme-primary;
                font-size: 14px;
                &:hover,
                &:focus {
                    color: darken($theme-primary, 10%);
                }
            }
            .nav > li > a,
            .nav > li > a:focus {
                color: $theme-dark;
                &:hover {
                    color: $theme-primary;
                }
            }
        }
    }
}

.intro-header {
  background-color: #808080;
  background: url('../images/header.jpg') center center;
  background-attachment: fixed;

  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
  background-size: cover;

  margin-bottom: 50px;
}

.intro-header .site-heading {
  padding: 210px 0;
  color: white;
}

.intro-header h1 {
  font-size: 50px;
  font-weight: 800;
  word-wrap: break-word;
}

.intro-header .site-heading .subheading {
  font-size: 24px;
  line-height: 1.1;
  display: block;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 300;
  margin: 10px 0 0;
}


.wrapper {
  // padding-top: 50px;
}

/* override the left margin added by font awesome for the main content list,
since it must be aligned with the content */
.fa-ul.main-list {
  margin-left: 0;
}

/* list icons */
.main-list-item-icon {
  width: 36px;
  color: $text-color;
}

.user-logo {
  width: 200px;
  height: 200px;
  display: inline-block;
  -moz-border-radius: 50%;
}

/*** author ***/
.author-container h1 {
  font-size: 2.8em;
  text-align: center;
}

/*** tagline ***/
.tagline-container p {
  font-size: 1.3em;
  text-align: center;
  margin-bottom: 2em;
}

/******/
hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: white;
}

.poweredby {
  font-family: "Arial Narrow", Arial;
  font-size: 0.6em;
  line-height: 0.6em;
  padding: 0 5px;
}

legend {
  margin-top: 20px;
}

// iframe

iframe {
  height: -webkit-calc(100%);
  width: -webkit-calc(100%);
  border: 1px solid lightgray;
}

.iframe {
  margin: 0 auto 50px;
  position: relative;
  border-radius: 8px;
}

.iframe:last-child {
  margin-bottom: 0;
}

// iframe iphone

.iframe-iphone {
  max-width: 375px;
  height: 667px;
  padding: 60px 15px 100px 15px;
  background: black;
}

.iframe-iphone:before {
  content: "";
  height: 10px;
  width: 100px;
  position: absolute;
  top: 20px;
  left: 37%;
  background-color: lightgray;
  border: 2px solid gray;
  border-radius: 12px;
}

.iframe-iphone:after {
  content: "";
  height: 50px;
  width: 50px;
  position: absolute;
  bottom: 20px;
  left: calc(50% - 25px);
  background-color: black;
  border: 4px solid lightgray;
  border-radius: 50%;
}

// iframe ipad

.iframe-ipad {
  max-width: 786px;
  height: 1024px;
  padding: 30px 15px 140px 15px;
  background: #eee;
  border: 2px solid gray;
  border-radius: 8px;
}

.iframe-ipad:after {
  content: "";
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: 20px;
  left: calc(50% - 50px);
  background-color: #ddd;
  border: 4px solid antiquewhite;
  border-radius: 50%;
}

.navbar-brand small {
  color: black;
}

.logo-container {
  margin-top: 50px;
}

.all-image {
  margin-top: 40%;
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    margin-top: 25px;
  }
}

footer {
  .fa-stack-2x {
    font-size: 3em;
  }

  .fa-stack-1x {
    font-size: 1.5em;
    padding-top: 8px;
    padding-left: 8px;
  }
  ul.list-inline {
    margin-bottom: 25px;
  }
}
